.links {
	text-decoration: none;
	color: black;
	text-align: right;
	display:inline-block;
	padding: 10px 45px 10px 30px;
	font-family: 'Play', sans-serif;
}

a {text-decoration: none;}
a:hover {text-decoration: none;}  

.links:hover {
	color: #FF0040;
}

.title {
	color: black;
	display: inline-block;
	padding: 10px 400px 10px 20px;
	font-family: 'Play', sans-serif;
	font-size: 25px;
}

.title3 {
	color: black;
	padding: 10px 400px 10px 20px;
	font-size: 17px;
	font-color: red;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	font-family: 'Play', sans-serif;

}

.title2 {
	color: black;
	padding: 10px 400px 10px 20px;
	font-size: 17px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	border-collapse: collapse;
	font-family: 'Play', sans-serif;

}

.inline {
	display: inline-block;
}

#facebook {
	background-image: url('../Portfolio 1.0/images/facebook-icon.jpg');
	background-size: 100%;
	height: 23px;
	width: 23px;
	text-align: right;
	display: inline-block;
	margin: 35px 20px 0px 30px;
}

#twitter {
	background-image: url('../Portfolio 1.0/images/twitter-icon.png');
	background-size: 100%;
	height: 18px;
	width: 18px;
	text-align: right;
	display: inline-block;
	margin: 25px 20px 0px 30px;
}

#head {
	border-bottom: 1px solid black;
	font-family: 'Play', sans-serif;
}

#bodyback {
	background-color: white;
}

#marvel-bg {
	background-image: url('../Portfolio 1.0/images/marvel-bg.jpg');
	height: 560px;
	width: 1348px;
	background-size: 100%;
}

.jumpback {
	text-decoration: none;
	color: black;
	text-align: right;
	display:inline-block;
	padding: 10px 30px 10px 600px;
	font-family: 'Play', sans-serif;
	text-align: center;
}

.jumpback:hover {
	color: #FF0040;
}

#audio {
	margin: 15px 15px 15px 215px;
}

#coldplayimg {
	margin: 15px 15px 15px 215px;
}

.favtracks {
	margin: 15px 15px 15px 255px;
	font-family: 'Play', sans-serif;
}

.aboutcoldplay {
	margin: 15px 15px 15px 265px;
	font-family: 'Play', sans-serif;
	font-size: 14px;
}

.aboutme {
	margin: 15px 30px 15px 500px;
	padding: 15px 30px 15px 500px;
	text-align: center;
	font-family: 'Play', sans-serif;
}

#coffeeshop {
	margin: 0px 0px 0px 430px;
	height: 600px;
	width: 450px;
}

#concert {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}

#carshow {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}

#frisco {
	margin: 0px 0px 0px 300px;
	height: 600px;
	width: 800px;
}


/* body {
	background: #222;
	margin-top: 20px;
}

h3 {
	color: #eee;
	font-family: Verdana;
}

.thumbnails img {
	height: 80px;
	border: 4px solid #555;
	padding: 1px;
	margin: 0 10px 10px 0;
}

.thumbnails img:hover {
	border: 4px solid #00ccff;
	cursor:pointer;
}

.preview img {
	border: 4px solid #444;
	padding: 1px;
	height: 500px;
}